#app{
  margin:0px;
  background-color: rgb(17, 17, 49);
  color:white;
  padding-top:200px;
  height:100vh;
}

#mainbox{
  width:800px;
  margin:auto;
}

#heading{
  text-align:center;
  font-size:xx-large;
  margin-top:0px;
}

#length{
  width:100%;
  display:flex;
  justify-content: space-around;
  font-size:xx-large;
}


.arrows{
  display:flex;
  height:45px;
  align-items: center;
  justify-content: center;
}

.arrow_image{
  height:40px;
  margin-right:6px;
}

#timer-label{
  width:300px;
  margin:auto;
  margin-top:50px;
  padding:20px;
  border:4px solid white;
  border-radius:10px;
  text-align:center;
}

#timer-label>h1{
  margin:10px;
}

#time-left{
  font-size:80px;
  margin:0px;
}

#icons{
  width:300px;
  text-align:center;
  margin:auto;
  margin-top:36px;
  font-size:x-large;
}

#icons>i{
  margin:15px;
}
